<h2>Explore our Prohealth Campign</h2>
<p id="heading">Learn more about Prohealth & if intrested,give it a chance</p>
<div class="container col-sm-12 ">
    <div class="column1">
        <img src="https://cdn.apollohospitals.com/dev-apollohospitals/2023/05/ProHealth-mob.jpg" alt="ProHealth-img" height="455px" width="455px">
    </div>
    <div class="column2 col-sm-5">
        <h1 class="col-sm-12">Get Proactive-Be Healthy</h1>
        <p id="sub-heading" class="col-sm-12">Build your ProHealth plan now</p>
        <p class="col-sm-12">ProHealth Program is a unique end-to-end personalized proactive health program that brings together predictive risk analysis, doctor-curated health packages, cutting-edge diagnostics with expert evaluation, and a personalized path to wellness, designed to make positive shifts – making you healthier.</p>
        <p class="col-sm-12">This health program is based on Apollo's pioneering efforts in preventive care for almost 40 years and over 22 million health checks.</p>
        <p class="col-sm-12">Apollo ProHealth program can PREDICT health risks, help PREVENT ailments, and OVERCOME lifestyle diseases where possible</p>
        <div class="button">
            <button mat-raised-button id="button">Book ProHealth</button>
        </div>
    </div>
   
</div>