form{
    height: 20em;
    width: 25em; 
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    border-radius:5%;
    overflow:auto;
    /* margin-top: 1em; */
}
.container{
    background-color: #27374D   ;
    border-radius: 3%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 30em;
    /* height: 30em; */
    height: 35em ;
    margin-top: 8em;
    color: #DDE6ED;
}
h1{
    text-align: center;
    color: #ffffff;
    font-weight: 500;
}
input,#checkbox,#country,#city{
    margin: .5em;
} 
#regbtn{
    background-color: #071952;
    /* padding: 0.3em .7em; */
    margin: .8em;
    color:#fff;
    /* border-radius: 10%; */
    border: #071952;
    cursor: pointer;
}
button:disabled{
    background-color: #a1a3ab;
    padding: 0.2em .7em;
    margin: .8em;
    margin-top: 1em;
    margin-bottom: 1em;
    color:#fff;
    border-radius: 10%;
    border: #071952;
}
p{
    margin-left: .5em;
}
.signupBody{
    margin-top: 5em;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}

.heading{
    display: flex;
    justify-content: center;
    align-items: baseline;
    vertical-align:bottom;
    line-height: 1em;
    margin-bottom: 1em;

}
img{
    margin-left: 1em;
    padding-top: .5em;
}
input{
    width: 100%;
    padding: .7em;
}