<div mat-dialog-title class="heading">
    Registration
</div>
<form [formGroup]="regForm" >
    <div mat-dialog-content class="content">
        <div class="rows">
            <mat-form-field appearance="outline">
                <mat-label>FirstName</mat-label>
                <input type="text"  matInput  name="firstName" placeholder="i.e John" formControlName="firstName" required>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Lastname</mat-label>
                <input type="text" matInput placeholder="i.e Peter" formControlName="lastName" required>
              </mat-form-field>
        </div>
        <div class="rows">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input type="email" matInput placeholder="i.e abc@gmail.com"  name="email" formControlName="email" required>
              </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>DOB</mat-label>
                <input matInput [matDatepicker]="picker" name="dob" formControlName="dob" required>
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="rows">
            <mat-radio-group aria-label="Gender" formControlName="gender" name="gender"> 
                <mat-label id="genderLabel"><b>Gender</b></mat-label>
                <mat-radio-button value="male" >Male</mat-radio-button>
                <mat-radio-button value="female" >Female</mat-radio-button>
                <mat-radio-button value="others">Others</mat-radio-button>
              </mat-radio-group>
        </div>
        <div class="rows">
            <mat-form-field appearance="outline">
                <mat-label>Educational Qualification</mat-label>
                <mat-select  formControlName="qualify" name="qualify" required>
                  <mat-option *ngFor="let qualify of qualificationList" [value]="qualify.name">
                    {{qualify.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div> 
        <div class="rows">
          <mat-form-field appearance="outline">
            <mat-label>Specialization</mat-label>
            <input type="text"  matInput  name="specialization" placeholder="i.e Pediatrics" formControlName="specialization" required>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Experience</mat-label>
            <input type="number"  matInput  name="Experience" placeholder="i.e 2" formControlName="experience" required>
          </mat-form-field>
      </div> 
        <div mat-dialog-action class="action" >
          <button mat-raised-button class="danger" [mat-dialog-close]="false">Cancel</button>
          <button mat-raised-button  [disabled]="!regForm.valid" class="submit" (click)="onSubmit()" >{{data ? 'Update':'Submit'}}</button>
        </div>
    </div>
</form>
