.submit{
    background-color: rgba(0, 128, 0, 0.727);
    color: white;
    /* padding:1.5em; */
}
.danger{
    background-color: rgba(255, 0, 0, 0.67);
    color: #fff;
    /* padding: 1.5em; */
}
.rows
{
    display: flex;
    gap: .5em;
   
}
mat-form-field{
    width: 100%;
    display: flex;

}
.content{
    padding-top: 1em;
}
.action{
    display: flex;
    align-items: center;
    justify-content: center; 
     gap: 1em;
    margin-bottom: 1em;
    padding: 0 25px 20px;
    
}

button{
    flex:1;
}
#genderLabel{
    margin-left: .15em;
}

button:disabled{
background-color: rgb(213, 213, 213);

}
form{
    display: flex; 
}

.heading{
    text-align: center;
}