.mainrow{
    display: flex;
    align-items:center;
    justify-content:center;
    padding: 1em 6em;
    padding-bottom: unset;
    flex-wrap: wrap;
    flex-direction: row;
}
.card-group{
    display: flex;
    align-items:center;
    justify-content:space-evenly;
    padding: 1em 0em;
}
.card{
    margin: 0 2em;
    box-shadow: 0 0 10px 0 rgba(100, 100, 100, 0.26); 
    border-radius: 25%; 
    min-width:7em;
   
}
#specialitiesimg{
    vertical-align: middle;
    margin-top: 1em;
    font-size: 19px;
    font-weight: 500;
}

p{
    text-align: center;
    font-size:small;
    margin-top: 1em;
    margin-left: .5em;
}
.card:hover{
    color: #306d95;
    cursor: pointer;

}
h2{
    text-align: center;
    margin-top: 1em;
}
.column2{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: auto 1em;
    padding: 1em;
}
#specialitiesimg{
    border-radius: 5%;
}
#sub-heading{
    opacity: 0.7;
    font-size: .9rem;
}